.container {
	display: flex;
	gap: 1rem;
}

main {
	border: 2px solid palevioletred;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
	width: 50%;

	div {
		border: 2px solid palevioletred;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5rem;
	}
}
